@page
@model MyRazorPage.Pages.AllProductModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page Title</title>
    <link rel="stylesheet" href="~/css/AllProduct.css" />
</head>
<form method="get" class="search-form">
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Search for Product...">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
@if (Model.GetProductList != null && Model.GetProductList.Any())
{
    <div class="product-grid">
        @foreach (var product in Model.GetProductList)
        {
            <div class="product-item">            
                <div class="product-info">
                    <div class="product-type">@product.RoomTypeName</div>
                    <img src="@product.ImageUrl" alt="Product Image">
                    <div class="product-name">Name: @product.ProductName</div>
                    <div class="product-description">Description: @product.Description</div>
                    <div class="product-quantity">Quantity: @product.Quantity</div>
                    <div class="product-size">Size: @product.Size</div>
                    <div class="product-color">Color: @product.Color</div>
                    <div class="product-material">Material: @product.Material</div>
                    <div class="product-price">Price: @product.Price</div>
                </div>
            </div>
        }

    </div>
}