@page
@using System.Text.Json
@using Application.ViewModels
@model MyRazorPage.Pages.CartModel
<style>
    .h-custom {
        background-color: #f4f5f7;
    }

    .shopping-cart {
        background: white;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }

    .card-body {
        color: #333;
    }

    input[type="text"], select, input[type="datetime"] {
        width: 100%;
        padding: 10px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    button[type="submit"], .btn-primary {
        background-color: #007bff;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    button[type="submit"]:hover, .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-link {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }

    .btn-link:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    .form-label {
        display: block;
        margin-bottom: 8px;
    }

    .mb-5, .mb-2, .my-5 {
        margin-bottom: 1.5rem !important;
    }

    .ms-3, .me-5 {
        margin: 0.5rem !important;
    }
    
    .d-flex {
        display: flex;
        align-items: center;
    }

    .flex-grow-1 {
        flex-grow: 1;
    }

    .flex-shrink-0 {
        flex-shrink: 0;
    }

    .safari_only {
        display: flex;
        align-items: center;
    }

    .quantity {
        text-align: center;
    }
    /**/
    .container {
        width: 100%;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .half {
        flex: 0 1 48%; /* Each takes roughly half the container width, with a little space in between */
    }

    .full-width {
        flex: 1; /* Allows the element to take the full width of the container */
    }

    .form-container, select.form-control {
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .submit-btn {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .submit-btn:hover {
            background-color: #45a049;
        }

    .form-label, label {
        display: block;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px; /* Adds some space below the checkbox */
    }

        .checkbox-container input[type="checkbox"] {
            margin-right: 10px; /* Space between checkbox and label */
            cursor: pointer;
        }

        .checkbox-container label {
            font-size: 18px; /* Makes the label larger and easier to read */
            cursor: pointer;
        }

    /* Existing styles */
    .column.half {
        flex: 0 1 48%; /* Adjust if needed */
    }



    
</style>

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shopping-cart" style="border-radius: 15px;">
                    <div class="card-body text-black">

                        <div class="row">
                            <div class="col-lg-6 px-5 py-4">

                                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Your products</h3>
                                @if (Model.carts != null)
                                {
                                    var totalprice = 0f;
                                    @foreach (var cart in Model.carts.Where(x => x.roomId != null || x.roomId != 0))
                                    {
                                        var items = cart.Items.Where(x => x.cartId == cart.Id).ToList() ?? new List<ItemDTO>();
                                        <div>
                                            <form asp-page-handler="Caculator" method="post" class="form-container">
                                            <input type="hidden" value="@cart.Id" name="cartID"/>
                                            <div class="container">
                                                <div class="row top-row">
                                                    <div class="column half">
                                                        <div class="checkbox-container">
                                                                <input  type="checkbox" id="myCheckbox" class="myCheckbox" value="checkboxValue @cart.Id">
                                                                <label class="form-check-label" for="selectedCarts">
                                                                    Select Cart
                                                                </label>

                                                                <label for="selectedCart@cart.Id">Room @cart.Id</label>
                                                        </div>
                                                        <select name="SelectedOption" id="roomSelection" class="form-control">
                                                            @foreach (var item in Model.roomtypes)
                                                            {
                                                                <option value="@item.Id">@item.RoomTypeName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="column half">
                                                            <div class="form-group">
                                                                <label for="roomArea" class="form-label">Room Area</label>
                                                                <input type="text" id="roomArea" name="roomArea" class="form-control" />
                                                            </div>
                                                            <button type="submit" class="submit-btn">Calculator</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="column">
                                                        <div class="form-container full-width">
                                                            <div class="form-group">
                                                                <label for="descriptionText" class="form-label">Description</label>
                                                                <input type="text" id="descriptionText" name="rDescription" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>


                                                @foreach (var p in items)
                                                {
                                                    <div class="d-flex align-items-center mb-5">
                                                        <div class="flex-shrink-0">
                                                            <img src="@Model.getProductById(p.productId).ImageUrl"
                                                                 class="img-fluid" style="width: 150px;" alt="Generic placeholder image">
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <form asp-page-handler="DeleteCart" method="post">
                                                            <input type="hidden" value="@cart.Id" name="cID" />
                                                            <input type="hidden" value="@p.Id" name="itemid" />
                                                                <button type="submit" class="btn btn-link p-0">
                                                                    <i class="bi bi-trash"></i>
                                                                </button>
                                                            </form>
                                                            <h5 class="text-primary">@Model.getProductById(p.productId).ProductName</h5>
                                                            <h6 style="color: #9e9e9e;">Color: @Model.getProductById(p.productId).Color</h6>
                                                        <p class="fw-bold mb-0 me-5 pe-3">@Model.getProductById(p.productId).Category</p>
                                                            <div class="d-flex align-items-center">
                                                                <p class="fw-bold mb-0 me-5 pe-3">@Model.getProductById(p.productId).Price$</p>

                                                                <div class="def-number-input number-input safari_only">
                                                                    <form method="post" asp-page-handler="UpdateQuantity">
                                                                    <input type="hidden" value="@cart.Id" name="cID" />
                                                                    <input type="hidden" value="@p.Id" name="itemid" />
                                                                        <input class="quantity fw-bold text-black" min="1" name="quantity" value="@p.quanity"
                                                                               type="number">
                                                                        @{
                                                                            var price = @p.quanity * @Model.getProductById(p.productId).Price;
                                                                            totalprice += price;
                                                                        }
                                                                        <p>Price: @price$</p>
                                                                        <button type="submit">Update</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                        </div>
                                        <p>--------------------------------------------------------------------------------</p>
                                        
                                    }
                                <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">

                                
                                <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                                    <h5 class="fw-bold mb-0">Total:</h5>
                                    <h5 class="fw-bold mb-0">@totalprice$</h5>
                                </div>
                                }
                                else
                                {
                                    <p>Not Found In Cart</p>
                                }
                            </div>
                            <div class="col-lg-6 px-5 py-4">

                                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Payment</h3>
                                
                                @{
                                    var csSessionValue = HttpContext.Session.GetString("csSession");
                                    if (csSessionValue != null)
                                    {
                                        var myObject = JsonSerializer.Deserialize<AccountDTO>(csSessionValue);


                                    <form id="quotationForm" class="mb-5" asp-page-handler="AddQuotation" method="post">
                                            
                                    <div class="form-outline mb-5">
                                        <input type="text" id="typeText" name="rdescription" class="form-control form-control-lg" 
                                               value=""  />
                                        <label class="form-label" for="typeText">Phone Number</label>
                                    </div>

                                    <div class="form-outline mb-5">
                                        <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                                               value="@myObject.TelephoneNumber"  minlength="19" maxlength="19" />
                                        <label class="form-label" for="typeText">Phone Number</label>
                                    </div>

                                    <div class="form-outline mb-5">
                                        <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                                               value="@myObject.FullName" />
                                        <label class="form-label" for="typeName">Your Name</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-5">
                                            <div class="form-outline">
                                                <input type="datetime" id="typeExp" class="form-control form-control-lg" name="createdate" value="@DateTime.UtcNow" />
                                                <label class="form-label" for="typeExp">DateTime CheckOut</label>
                                            </div>
                                        </div>

                                    </div>
                                    <button onclick="getCheckboxValue()" type="submit" class="btn btn-primary btn-block btn-lg">CheckOut</button>
                                    
                                    @if (ViewData["msgcheckcart"] != null)
                                    {
                                        <p>@ViewData["msgcheckcart"]</p>
                                    }
                                    </form>
                                    }
                                    else
                                    {
                                        <p class="mb-5">
                                            Please Login For Make New Quotation <a asp-page="/Login">Go To</a>.
                                        </p>
                                    }
                                }
                                <h5 class="fw-bold mb-5" style="position: absolute; bottom: 0;">
                                    <a asp-page="/Test">Back to shopping</a>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<input > Check me


<script>
    function getCheckboxValue() {
        var checkedValues = [];

        var checkboxes = document.querySelectorAll('.myCheckbox');
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                checkedValues.push(checkbox.value);
            }
        });

        // if (checkedValues.length > 0) {
        //     alert("Checked values: " + checkedValues.join(", "));
        // } else {
        //     alert("No checkboxes are checked");
        // }
        if (checkedValues.length > 0) {
            // Gửi checkedValues lên server sử dụng AJAX
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/CartModel/AddQuotation/1");
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            // xhr.onload = function () {
            //     if (xhr.status == 200) {
            //         alert("Checked values sent to server successfully.");
            //     } else {
            //         alert("Failed to send checked values to server.");
            //     }
            // };
            xhr.send(JSON.stringify({ checkedValues: checkedValues }));
        } else {
            alert("No checkboxes are checked");
        }
    }
</script>


