@page
@model MyRazorPage.Pages.RegisterModel
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>Form</title>
    <link href="/css/register.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Body of Form starts -->
    <div class="container">
        <form method="post" autocomplete="on">
            <!--First name-->
            <div class="box">
                <label for="firstName" class="fl fontLabel"> Full Name: </label>
                <div class="new iconBox">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="fr">
                    <input type="text" name="fullname" placeholder="Full Name"
                           class="textBox" autofocus="on" value="@ViewData["fullnamedata"]">
                </div>
                <div class="clr"></div>
            </div>
            @if (ViewData["fullname"] != null)
            {
                <p>@ViewData["fullname"]</p>
            }
            <!--First name-->
            <div class="box">
                <label for="secondName" class="fl fontLabel"> Address: </label>
                <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="text" name="address"
                           placeholder="Address" class="textBox" value="@ViewData["Addressdata"]">
                </div>
                <div class="clr"></div>
            </div>
            @if (ViewData["address"] != null)
            {
                <p>@ViewData["address"]</p>
            }
            <!---Phone No.------>
            <div class="box">
                <label for="phone" class="fl fontLabel"> Phone No.: </label>
                <div class="fl iconBox"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="text" name="phone" maxlength="10" placeholder="Phone No." class="textBox" value="@ViewData["phonedata"]">
                </div>
                <div class="clr"></div>
            </div>
            @if (ViewData["telephone"] != null)
            {
                <p>@ViewData["telephone"]</p>
            }
            <!---Phone No.---->
            <!---Email ID---->
            <div class="box">
                <label for="email" class="fl fontLabel"> Email: </label>
                <div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="email" name="email" placeholder="Email Id" class="textBox" value="@ViewData["emaildata"]">
                </div>
                <div class="clr"></div>
            </div>
            @if (ViewData["email"] != null)
            {
                <p>@ViewData["email"]</p>
            }
            <!--Email ID----->
            <!---Password------>
            <div class="box">
                <label for="password" class="fl fontLabel"> Password </label>
                <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="Password" name="password" placeholder="Password" class="textBox" value="@ViewData["passworddata"]">
                </div>
                <div class="clr"></div>
            </div>
            @if (ViewData["password"] != null)
            {
                <p>@ViewData["password"]</p>
            }
            <!---Password---->
            <div class="box">
                <label for="password" class="fl fontLabel"> Confirm Password </label>
                <div class="fl iconBox"><i class="fa fa-key" aria-hidden="true"></i></div>
                <div class="fr">
                    <input type="Password" name="cfpassword" placeholder="Confirm Password" class="textBox" value="@ViewData["cfpassworddata"]">
                </div>
                <div class="clr"></div>
            </div>
            @if (ViewData["cfpassword"] != null)
            {
                <p>@ViewData["cfpassword"]</p>
            }
            @if (ViewData["cfpasswordnotsame"] != null)
            {
                <p>@ViewData["cfpasswordnotsame"]</p>
            }
            <!---Gender----->
            <div class="box radio">
                <label for="gender" class="fl fontLabel"> Gender: </label>
                <input type="radio" name="Gender" value="Male" @(ViewData["genderdata"] != null && ViewData["genderdata"].Equals("Male") ? "checked" : "")>
                <input type="radio" name="Gender" value="Female" @(ViewData["genderdata"] != null && ViewData["genderdata"].Equals("Female") ? "checked" : "")>
            </div>

            @if (ViewData["gender"] != null)
            {
                <p>@ViewData["gender"]</p>
            }
            <!---Gender--->
            <!--Terms and Conditions------>
            <!--Terms and Conditions------>
            <!---Submit Button------>
            <div class="box" style="background: #2d3e3f">
                <input type="Submit" name="Submit" class="submit" value="SUBMIT">
            </div>
            <!---Submit Button-----> 
            @if (ViewData["msgRegister"] != null)
            {
                <p>@ViewData["msgRegister"]</p>
            }
        </form>
    </div>
    <!--Body of Form ends--->
</body>
</html>
