@page "{roomId:int}" 
@model MyRazorPage.Pages.RoomDetailModel
@{
    ViewData["Title"] = "Room Detail";
}
<h1>
    Room Detail
</h1>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page Title</title>
    <link rel="stylesheet" href="~/css/RoomDetail.css" />
</head>
@if (Model.Products == null || !Model.Products.Any())
{
    <p>No products found for this room.</p>
}
else
{
    <div class="product-grid">
        @foreach (var product in Model.Products)
        {
            <div class="product-item">
                @* @if (!string.IsNullOrEmpty(product.ImageUrl))
                {
                    <img src="@product.ImageUrl" alt="Product Image">
                } *@
                
                    <div class="product-info">
                        <img src="@product.ImageUrl" alt="Product Image">
                        <div class="product-name">Name: @product.ProductName</div>
                        <div class="product-description">Description: @product.Description</div>
                        <div class="product-quantity">Quantity: @product.Quantity</div>
                        <div class="product-size">Size: @product.Size</div>
                        <div class="product-color">Color: @product.Color</div>
                        <div class="product-material">Material: @product.Material</div>
                        <div class="product-price">Price: @product.Price</div>
                    </div>
                @* <form asp-page="/Cart" asp-page-handler="AddToCartProduct" method="post">
                    <input type="hidden" value="@product.ProductId" name="pId" />
                    <button type="submit">Make Quotation</button>
                </form> *@
            </div>
        }

    </div>
}
