@page
@model MyRazorPage.Pages.Admin.DeleteProductModel
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Product</title>
    <link rel="stylesheet" href="~/css/adminproduct.css" />
    <link rel="stylesheet" href="~/css/deleteproduct.css" />
</head>
<body>
    <h1>Delete Product</h1>
    <form method="post">
        <input type="hidden" name="id" value="@(Model.Product != null ? Model.Product.ProductId : 0)">

        <label for="productname">Product Name:</label>
        <input type="text" id="productname" name="productname" value="@(Model.Product != null ? Model.Product.ProductName : "")" readonly>

        <label for="description">Description:</label>
        <textarea id="description" name="description" readonly>@(Model.Product != null ? Model.Product.Description : "")</textarea>

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="@(Model.Product != null ? Model.Product.Quantity : "")" readonly>

        <label for="size">Size:</label>
        <input type="number" id="size" name="size" value="@(Model.Product != null ? Model.Product.Size : "")" readonly>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="@(Model.Product != null ? Model.Product.Price : "")" readonly>

        <label for="imageUrl">Image:</label>
        <img src="@(Model.Product != null ? Model.Product.ImageUrl : "")" alt="Product Image">

        <label for="color">Color:</label>
        <input type="text" id="color" name="color" value="@(Model.Product != null ? Model.Product.Color : "")" readonly>

        <label for="material">Material:</label>
        <input type="text" id="material" name="material" value="@(Model.Product != null ? Model.Product.Material : "")" readonly>

        <button type="submit">Delete Product</button>
    </form>
</body>